body{
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

div.dropable{
    width: 215px;
    padding: 10px;
    border: 1px;

}

div#squaresContainer{
    width:220px;
}

div#main{
  width: 220px;
}

button {
   background-color: rgba(230,230,230,1);
   width: 215px;
   padding: 10px;
   margin-bottom: 7px;
   display: inline-block;
   font-size: 14px;
   line-height: 15px;
   color: rgba(0,0,0,1);
   border: none;
   outline: none;
   -webkit-border-radius: 3px;
}
button:hover {
   background-color: rgba(204,204,204,1);
}
button:active {
}

button.scriptButton {
   background-color: rgb(66, 184, 221);
   width: 100%;
   padding: 5px;
   display: inline-block;
   font-size: 12px;
   line-height: 12px;
   color: white;
   border: none;
   -webkit-border-radius: 3px;
}

button.square{
    width: 50px;
    position: relative;
    display: inline;
    margin-left: 1px;
}

button.square span{
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 27px;
    line-height: 27px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
/*
button.square span:after{
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #000000;
}

button:hover.square span {
  visibility: visible;
  opacity: 0.8;
  bottom: -35px;
  left: -75px;
  margin-left: 30px;
  z-index: 999;
}
*/

button.square:hover {
    color:#ffffff;
}
button.tl:hover {
    background-color: rgb(0, 155, 209);
}

button.am:hover {
    background-color: rgb(229, 37, 0);
}

button.md:hover {
    background-color: rgb(255, 198, 0);
}

button.pr:hover {
    background-color: rgb(133, 0, 250);
}

button.gn:hover {
    background-color: rgb(15, 162, 18);
}

button:hover {
   background-color: rgb(32A9D7);
}
button:active {
}

label {
  margin: 5px;
}

input {
  margin: 5px;
}

textarea{
  height: 100px;
  width: 209px;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}
form{
  width: 215px;
}
/*div{
  text-align: center;
}*/
div.collapsible{
  display: none;
  width: 215px;
  overflow: auto;
}

form {
  border-width: 12px;
}

table {
}
table, th, td {
    line-height: 1.4;
    border: none;
    border-collapse: collapse;
    font-size: 12px;
}
th, td {
    width:33%;
    padding: 3px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
